@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body > * > *{
    padding: 15px;
}


a{
    text-decoration: none;
    color: #FFF;
}

ul{
    padding: 0;
}

.idioma{
    align-items: center;
    background-color: #222222;
    color: #FFF;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    padding: 5px;
}

.ListadoProductos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.idioma > *{
    margin:0;
}

div.idioma ul{
    display: flex;
    align-items: center;
    gap: 15px;
}


header{
    background-color: #F0A83E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

main{
    text-align: center;
}

section.banner{
    background-image: url('./img/slider.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section.banner > div{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.banner h1 span{
    background-color: #FFF;
    font-size: 30px;
    font-weight: normal;
    padding: 10px;
    border-radius: 5px;
}

section.banner a{
    background-color: #F0A83E;
    padding: 15px;
    border-radius: 5px;
}

section.productos{
    margin-bottom: 40px;
}

section.productos h2{
    font-size: 40px;
}

section.productos h2 i{
    color: #F0A83E;
    font-size: 60px;
}

section.productos > p{
    color: #666666;
    margin-bottom: 40px;
}

section.productos > div{
    display: flex;
    justify-content: space-between;
}

article{
    background-color: #FBFAF6;
    width: 30%;
    justify-content: space-between;
    align-self: space-between;
}

article p.precio{
    color: #F0A83E;
}

footer section{
    background-color: #3C2313;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer ul li{
    color: #FFF;
    display: flex;
    margin-bottom: 15px;
}

footer ul li i{
    border: 2px solid #786960;
    background-color: #8A8787;
    font-size: 30px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

footer ul li small{
    color: #8A8787;
}

footer > p{
    text-align: center;
    background-color: #222222;
    color: #FFF;
    margin: 0;
    font-size: 14px;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    header a {
        margin-left: 40px;
    }

    div.idioma {
        display: none; /*o visibility: hidden*/
    }

    header nav ul{
        display:none;
    }

    header nav::before{
        content: '\f0c9';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 2rem;
        color: white;
    }

    .ListadoProductos {
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }

    footer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    footer section{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    footer section img{
        order: -1;
    }

}