@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

p.encabezado{
    height: 23px;
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 4px;
}

header{ 
    display:flex;
    gap:20px;
    background-color: #00669F;
    height: 80px;
    align-items: center;
    color: white;
}

header nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 1000%;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* MAIN */

body{
    height: 100vh;
}

.tarjetas{
    display: inline-block;
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 120px;
}

.img{
    position: relative;
}

.fondo{
    width: 300px;
    height: 190px;
}

.perfil{
    position: absolute;
    width: 30px;
    top: 15px;
    left: 20px;
}

.like{
    position: absolute;
    width: 30px;
    top: 15px;
    left: 20px;
}

.descripcion{
    background-color: white;
    height: 330px;
    position:relative;
    width: 300px;
}

h3{
    position: absolute;
    font-size: 30px;
    text-align: center;
    padding: 74px 89px 220px 89px;
}

.contenido{
    position: absolute;
    font-size: 16px;
    color: #333333;
    padding: 119px 17px 104px 16px;
    text-align: justify;
}

.boton{
    background-color: #00669F;
    color: #F3F3F3;
    font-size: 15px;
    height: 50px;
    width: 125px;
    position: absolute;
    text-align: center;
    margin-top: 270px;
    margin-left: 80px;   
}

.boton button{
    font-size: 15px;
}

