@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p.encabezado {
    height: 23px;
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 4px;
}

header{ 
    display:flex;
    background-color: #00669F;
    height: 80px;
}

header nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav h2{
    color: white;
    font-size: 30px;
}

/* MAIN */

h1{
    font-size: 72px;
    margin-top: 230px;
    margin-left: 410px;
    margin-bottom: 55px;
    font-weight: bold;
}

div.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button{
    font-weight: bold;
    font-size: 24px;
    height: 54px;
    width: 615px;
    background-color: #1CD1B0;
    border-color: #1CD1B0;
    border-radius: 23px;
}

div.acceso{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 240px;
}

div.acceso span{
    text-decoration: none;
    font-size: 22px;
}

div.acceso a{
    color: #00669F;;
    font-size: 22px;
}

input{
    height: 60px;
    width: 620px;
    border: 1px solid black;
}

/* footer */
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    height: 61px;
}

footer p{
    font-size: 16px;
    color: white
}