@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

p.encabezado{
    height: 23px;
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 4px;
}

header{ 
    display:flex;
    gap:20px;
    background-color: #00669F;
    height: 80px;
    align-items: center;
    color: white;
}

header h1{
    color: white;
    padding-top: 30px;
}

header nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 900%;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* MAIN */

.login{
    margin: 100px 35%;
    height: 600px;
    width: 500px;
    text-align: center;
}

h1{
    color: #333333;
    font-weight: 700;
    font-family: 'Karla';
    text-align: left;
    margin-bottom: 30px;
    font-size: 4rem;
}

.ingresar form select{
    width: 500px;
    height: 50px;
    border-radius: 1px;
    padding-left: 20px;
    display: block;
    margin: 20px 0px;
}

.ingresarTexto form select{
    width: 500px;
    height: 50px;
    border-radius: 1px;
    padding-left: 20px;
    display: block;
    margin: 20px 0px;
}

.ingresar{
    width: 500px;
    height: 50px;
    border-radius: 1px;
    padding-left: 20px;
    display: block;
    margin: 20px 0px;
}

.ingresarTexto {
    height: 250px;
    width:500px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding-left: 20px;
}

.textSelect {
    height: 50px;
    width:500px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding-left: 20px;
}

.boton{
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #1CD1B0;
    font-weight: bold;
    font-size: 1em;
    border: none;
}

.botonEnviar {
    width: 240px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #1CD1B0;
    font-weight: bold;
    font-size: 1em;
    border: none;
    transition: all 0.5s ease;
}

.botonEnviar:hover{
    background-color: #888888;
    color: white;
}

.botonBorrar {
    color: white;
    width: 240px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #888888;
    font-size: 1em;
    border: none;
    transition: all 0.5s ease-in;
}

.botonBorrar:hover{
    background-color: #1CD1B0;
    color: black;
}
/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    color: white;
    height: 50px;
    width: 100%;
}