@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* header */

p.encabezado{
    height: 23px;
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 4px;
}

header{ 
    display:flex;
    gap:20px;
    background-color: #00669F;
    height: 80px;
    align-items: center;
    color: white;
}

header h1{
    color: white;
    padding-top: 10px;
}

header nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 900%;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* MAIN */

main{
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add{
    align-items: center;
    color: white;
    background-color: #00669F;
    border-radius: 50%;
    display: flex;
    font-size: 2rem;
    height: 50px;
    justify-content: center;
    width: 50px;
    position: fixed;
    top: 50vh;
    right: 20px;
    z-index: 100;
    transition: all 0.5s ease;
}

.add:hover{
    background-color: yellow;
    color:black;
}

h2{
    text-align: center;
    font-size: 20px;
    padding: 60px 0px 0px 0px;
}

.HeroeCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.HeroeCard .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: #F3F3F3;
    width: 300px;
    margin: 25px;
    position: relative; 
}

.HeroeCard .card .background-img{
    width: 300px;
    height: 190px;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.HeroeCard .card .background-img i{
    color: red;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 2rem;
}

.HeroeCard div.card:nth-of-type(1) div.background-img{
    background-image: url(./img/FondoBatman.png);
}
.HeroeCard div.card:nth-of-type(2) div.background-img{
    background-image: url(./img/FondoMujerMaravilla.png);
}
.HeroeCard div.card:nth-of-type(3) div.background-img{
    background-image: url(./img/FondoSuperman.png);
}
.HeroeCard div.card:nth-of-type(4) div.background-img{
    background-image: url(./img/FondoHilary.png);
}

.HeroeCard div.card div.profile-img{
    border-radius: 50%;
    width: 125px;
    height: 125px;    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 125px
}

.HeroeCard div.card:nth-of-type(1) div.profile-img{
    background-image: url(./img/Batman.png);
}
.HeroeCard div.card:nth-of-type(2) div.profile-img{
    background-image: url(./img/MujerMaravilla.png);
}
.HeroeCard div.card:nth-of-type(3) div.profile-img{
    background-image: url(./img/Superman.png);
}
.HeroeCard div.card:nth-of-type(4) div.profile-img{
    background-image: url(./img/Hilary.png);
}

.HeroeCard div.card p{
    color: #333333;
    margin: 14px;
}
.HeroeCard div.card span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #00669F;
    color: white;
    width: 128px;
    height: 52px;
    margin: 20px;
    transition: all 1s ease;
}

.HeroeCard div.card span:hover{
    background-color: yellow;
    color: black;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    color: white;
    height: 50px;
    width: 100%;
}

/* MEDIA */

@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer{
        display: none;
    }

    p.encabezado{
        display: none;
    }

}