@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding: 5px;
}

header{
    padding: 20px s;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}


header ul {
    display:flex;
    align-items: center;
    gap:15px;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color:white;
    font-size: 16px;
}

header img{
    height: 80px;
    width: 254px;
    background-repeat: no-repeat;
}

/* Main */

h2{
    color:#FC200C;
    margin: 0px;
}

h2 span{
    color: #FFFFFF;
}


main{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #E5E5E5;
    gap: 10px;
    min-height: calc(100vh - 250px);
    display: flex;
    align-items: center;
}

section{
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    height: 350px;
    margin: 30px 5px 30px;
}

section.envio{
    background-image: url('../img/delivery.png');
    background-repeat: no-repeat;
    background-size: cover;
}

section.podio{
    background-color: #FFFFFF;
}

section.podio h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

section.podio ol{
    font-weight: bold;
    padding: 0px;
}

section.podio h3{
    font-weight: bold;
    padding: 7px;
}

section.podio ol li{
    font-weight: bold;
    padding: 3px;
}

section.podio > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:250px;
    margin-top: 50px;
}


/* footer */

footer{
    padding: 20px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    gap: 20px;
}

footer ul{
    flex-direction: column;
}

footer a {
    text-decoration: none;
    margin: 15px;
    color: white;
    padding: 15px;
}





