@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body
{
    background-color: white;
}

header{
    background-color: #ffc0cb;
    text-align: center;
    height: 300px;
    padding: 10px;
}
#logo {
    height: 200px;
    border-radius: 50%;
    }

h1{
    font-size: 30px;
    color: #9c9c9c;
    font-weight: bold;
    }

h2{
    font-size: 15px;
    color: #9c9c9c;
    font-style: italic;
    margin-top: 0px;
    }

main {  
    height: 500px;
    padding: 85px; 
}

main ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 15px;
}


ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0;
    gap: 15px;
}


ul li a {
    text-decoration: none;
}

.boton{
    border-radius: 30px;
    border-color: #ffdd00;
    text-align: center;
    color:  #9c9c9c;
    background-color: #ffdd00;
    width: 200px;
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    }
.boton:hover{
    border: 2px solid #8492a6;
    }
