@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');


:root{
    --color-logo : #469e83;
}

body{
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;    
    margin: 0 auto;
    width: 60vw;

}


h1{
    font-size: 4rem;
    color:var(--color-logo);    
    margin: 8px;
}

div a{
    color: inherit;
    text-decoration: none;
}


header{
    text-align: center;
}


ul{
    margin: 0 auto;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;  
    justify-content: center;  
    gap:15px;    
    
}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
    color: grey;
}

.borders-nav{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.border-noticia{
    border-bottom: 1px solid gainsboro;
}

.contenedor > div > div > a
{
    display: flex;  
    flex-direction: column;
    align-content: space-between;
    gap: 23px;
}

.contenedor > div h2{
    font-size: 40px;
    margin: 8px;
}

.flex-row{    
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
}

.noticias_cortas{    
    border-top: 2px solid dimgray;    
    margin-top: 20px;
}

.noticias_cortas h2{
    color:#B10000;
}

.noticias_cortas h3{    
    font-size: 18px;
}


.banner{
    text-align: center;
}

footer{
    background-color: #f7f8f9;
}

footer > div {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

footer > div > h2 {
    font-size: 36px;
    color:var(--color-logo);
    width: 100%;
    text-align: right;
    margin: 0px;    
}

footer > div > ul {
    font-size: 26px;  
    color: #666;      
}