@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding:20px;
}

a {
    text-decoration: none;
    color: black;
}

header{
    background-image: url('./img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 300px;
}

h1{
    color: whitesmoke;
    font-weight: bold;
}

.perfil{
    width: 170px;
    border-radius: 50%;
}

ul.OpcionesMenu li{
    display: inline-flex;
    align-items: center;
    justify-content: Center;
}

ul.OpcionesMenu li a {
    padding: 5px;
}

ul.OpcionesMenu li.on, ul.menu li a:hover{
    background-color: #f9dd4b;
    border-color: goldenrod;
    border-radius: 15%;
    color: #9c9c9c;
}


ul.OpcionesMenu li.on:hover a{
    color: #9c9c9c;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    gap: 20px;
}

div{
    /* background-color: white; */
    border: 2px solid #9c9c9c;
    border-radius: 15%;
    margin-top: 100px;
    padding: 10px;
}

div h2{
    margin-top: 0px;
}

ul.datos li{
    margin-bottom: 10px;
}

div.Acerca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #9c9c9c;
    border-radius: 5%;
}

div.Acerca h2{
    margin-top: 0px;
    text-align: center;
    font-style: italic;
}

div.Acerca i{
    color: #9c9c9c;
    text-align: center;
    width: 50px;
    height: 50px;
}

/* footer */

footer{
    background-color: #f9dd4b;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

ul.contacto li a {
    margin: 5px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:grey;
}

ul.contacto li a:hover{
    border: 2px solid #9c9c9c;
}

ul.contacto li a:hover i{
    color: #9c9c9c;
}